.accurancy
    padding: 22px 0 60px 0
    .title
        margin-bottom: 90px
        margin-left: 70px
    .cards
        display: flex
        justify-content: space-between
        gap: 30px
        flex-wrap: wrap
    .card
        width: 33%
        max-width: 480px
        border: 1px solid $gray500
        border-radius: 16px
    .card-content-wrapper
        padding: 20px 20px 14px 20px
        display: flex
        flex-direction: column
        align-items: space-between
    .card-top
        display: flex
        justify-content: space-between
        align-items: flex-end
        gap: 15px
        margin-bottom: 15px
    .card-accurancy
        display: flex
        flex-direction: column
        align-items: flex-end
        .percent
            line-height: 35px

@media screen and ( max-width: 1580px )
    .accurancy
        .container
            max-width: 1172px
        .cards
            gap: 28px
        .card
            width: 33%
            max-width: 372px
        .card-top
            align-items: flex-start
@media screen and ( max-width: 1440px )
    .accurancy
        .card
            max-width: 372px
        
    
    