.header
    width: 100%
    height: 100px
    display: flex
    justify-content: space-between
    border-bottom: 1px solid $gray500
    position: absolute
    top: 0
    left: 0
    z-index: 10
    .logo-wrap
        margin-left: 60px
        display: flex
        align-items: center
        width: 100%
        max-width: 120px
    .nav
        display: flex
    .nav-li
        display: flex
        @media only screen and ( min-width: 993px)    
            &.with-dropdown
                position: relative
                &:hover
                    .dropdown
                        display: block
    .nav-a
        font-size: 19px
        font-weight: 800
        padding: 0 20px
        color: $white
        display: flex
        align-items: center
        &.contact-us-a
            padding: 0 46px
            background-color: $red
            margin-left: 40px
        &.dropdown-title
            display: flex
        .icon
            margin-top: -10px
            margin-left: 6px

    .dropdown
        display: none
        padding: 34px 50px
        position: absolute
        right: 0
        background-color: $red
        &.opened
            display: block
    .dropdown-a
        font-size: 22px
        font-weight: 800
        color: $white
        white-space: nowrap
        display: inline-block
        margin: 9px 0
    .burger
        display: none
        width: 50px
        div
            width: 30px
            height: 2px
            background-color: $white
            & + div
                margin-top: 8px

@media only screen and (max-width: 1440px)
    .header 
        .nav-a
            font-size: 16px

@media only screen and (max-width: 992px)
    .header
        padding: 0 0 0 30px
        .logo-wrap
            margin-left: 0
        .nav
            transform: translateX(-100%)
            transition: all 0.2s ease
            position: fixed
            width: 100%
            top: 100px
            left: 0
            right: 0
            bottom: 0
            background-color: $gray600
            justify-content: center
            padding-top: 50px
            opacity: 0
            &.opened
                transform: initial
                opacity: 1
        .nav-ul
            flex-direction: column
            width: 100%
        .nav-li
            flex-direction: column
            align-items: center
            justify-content: center
        .nav-li-last
            margin-top: auto
            height: 94px
            line-height: 94px
            width: 100%
            display: block
            text-align: center
        .nav-a
            margin-top: 24px
            font-size: 32px
            &.contact-us-a
                margin: 0 auto
                justify-content: center
            .icon
                display: none
        .dropdown
            display: none
            position: static
            background-color: $gray700
            width: 100%
            text-align: center
            margin: 18px 0 
        .dropdown-a
            font-size: 28px
            font-weight: 300
        .burger
            display: block
            margin-right: 20px
        .close-menu-btn
            width: 50px
            height: 50px
            margin-right: 33px
            margin-top: 7px
            color: $white
            font-size: 24px
            padding: 30px
        .white-15
            &::before
                display: none
        .dropdown-title
            position: relative
            &::before
                content: ""
                position: absolute
                top: -15px
                left: -6px
                width: 30px
                height: 30px
                background-image: url("../images/red-24.svg")
                background-repeat: no-repeat

        
@media only screen and (max-width: 450px) and (max-height: 730px)
    .header 
        .nav.opened
            padding-top: 0
        .dropdown
            margin: 0