@import "partners-section.sass"
    
.about-page
    padding-top: 100px
    position: relative
    overflow: hidden
    &::before
        content: ""
        width: 150%
        height: 1000px
        background: $gray600
        position: absolute
        top: -100px
        left: -100px
        z-index: -1

    .for-arrows
        display: none

    .about-container
        width: 100%
        padding: 0 208px

    .hero
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        .about
            width: 56%
            flex-grow: 1
            padding: 0 60px 0 208px
            position: relative
            z-index: 1
        .title
            margin-bottom: 40px
        .paragraph
            max-width: 735px 
            line-height: 1.4
        .about-img
            width: 44%
        .figure-container
            width: 100%
        .figure
            position: relative
            padding-top: 83%

    .advisors
        position: relative
        padding: 60px 0 130px 0
        &::before
            content: ""
            width: 100%
            height: 300px
            position: absolute
            top: 170px
            left: 0
            background-image: url("../images/about-gray-bg.png") 
            background-repeat: no-repeat
            background-size: cover
        .title
            margin: 0 0 120px 70px
        .arrow-wrapper
            display: none
        .advisors-items
            gap: 160px
        .item
            width: 23%
            min-width: 272px
            position: relative
            .title
                margin: 25px 0 10px 0
                display: block
                transition: all 0.1s linear
                &:hover
                    opacity: 0.5
            .paragraph
                margin-bottom: 4px
        .about-red62
            width: 62px
            height: 62px
            position: absolute
            top: 0
            left: 0
            z-index: 1
        .figure
            position: relative
            padding-top: 120%

    .management
        padding: 85px 0 0 0
        position: relative
        margin-bottom: 330px
        .management-red117
            width: 117px
            height: 117px
            position: absolute
            top: 0
            left: 0
        .title
            margin-bottom: 60px
            margin-left: 100px
        .management-items-wrapper
            gap: 158px
        .item
            width: 23.5%
            min-width: 272px
            margin-bottom: -150px
        .figure
            position: relative
            padding-top: 118.6%
        .item-title
            margin: 28px 0 8px 0

    .team 
        padding: 100px 0 90px 0
        .title
            margin: 0 0 52px 70px
        .arrow-wrapper
            display: none
        .team-items-wrapper
            flex-wrap: wrap
            gap: 128px
        .item
            width: 17%
        .figure
            position: relative
            padding-top: 125%
        .item-title
            margin: 25px 0 10px 0

    .partners
        padding: 125px 0 100px 0
        .container
            .title
                margin-bottom: 60px
                margin-left: 70px
            .logo-wrapper
                gap: 32px
                .logo 
                    width: 100%
                    max-width: 224px
                    .figure
                        position: relative
                        padding-top: 44.64%
                        .img
                            position: absolute
                            top: 0
                            left: 0
                            width: 100%
                            height: 100%
                            object-fit: contain

@media only screen and (max-width: 1660px)
    .about-page

        .about-container
            padding: 0 134px

        .hero
            .about
                padding: 0 134px


@media only screen and (max-width: 1440px)
    .about-page

        .advisors
            padding: 60px 0 80px 0
            .advisors-items
                gap: 128px

        .management
            .management-items-wrapper
                gap: 128px

        .team 
            padding-bottom: 150px  
            .team-items-wrapper
                gap: 100px

        .partners
            padding: 160px 0 200px 0
            .container
                max-width: 1200px
                .logo-wrapper
                    gap: 28px
                    .logo
                        max-width: 172px


@media only screen and (max-width: 1280px)  
    .about-page
        .hero-bg
            height: 40%
        .about-container
            padding: 0 40px

        .hero
            .about
                padding: 0 40px


        .advisors
            .about-red62
                width: 48px
                height: 48px
        
        .management
            .item
                margin-bottom: -180px

        .team 
            .team-items-wrapper
                gap: 80px
            .item
                width: 25%
                        

@media only screen and (max-width: 1180px)
    .about-page

        .for-arrows
            display: flex
            margin: 0 0 32px 50px

        .advisors
            &::before
                top: 300px
            .title
                margin: 0 0 28px 70px
                .owl-next
                    margin-left: 50px
            .item  
                width: 100%
        
        .management
            padding: 85px 0 54px 0
            margin-bottom: 0
            .management-items-wrapper
                gap: 80px
                flex-wrap: wrap
            .item
                margin-bottom: 0
                width: 44%
                color: $white

        .team
            .title
                margin: 0 0 52px 0
            .for-arrows
                margin: 0 0 32px -16px
            .item
                width: 100%

@media only screen and (max-width: 1100px)
    .about-page
        .hero
            .title
                font-size: 32px
                margin-bottom: 28px
            .paragraph
                font-size: 14px      

        .management
            .container
                .management-items-wrapper
                    .item
                        margin-bottom: -160px

        .team 
            padding: 60px 0 
            .item
                min-width: 252px

@media only screen and (max-width: 992px)
    .about-page
        .hero
            flex-direction: column
            .hero-bg
                height: 10%
            .about, .about-img
                width: 100%
            .about
                padding: 53px 30px 40px 30px

@media only screen and (max-width: 768px)
    .about-page

        .title
            font-size: 32px

        .hero
            .paragraph
                font-size: 24px
            .about-img
                width: 100% 
                        
        .management
            padding-top: 60px
            margin-bottom: 0
            .management-red117
                width: 63px
                height: 63px
            .title 
                margin-bottom: 35px
                margin-left: 25px  
            .management-items-wrapper
                flex-direction: column
                align-items: center
                gap: 0
                .item
                    min-width: 302px
                    margin-bottom: 50px
                    .item-title
                        color: $white
                    .item-paragraph
                        color: $white
                  
        .team
            .title
                margin-left: 20px
            .arrow-wrapper
                display: block
                margin: 30px 0 30px 25px
                .arrow
                    max-width: 62px
                    margin-right: 27px

        .partners
            .container
                .title
                    font-size: 32px
                    margin-left: 30px
                    margin-bottom: 20px
                .logo-wrapper
                    gap: 20px
                    .logo
                        max-width: 130px


@media only screen and (max-width: 767px)
    .about-page
        .hero
            background-image: url("../images/hero-mobile-bg.svg")
            background-repeat: no-repeat
            background-size: cover
            .hero-bg
                display: none
        .advisors
            padding: 60px 0
            &::before
                top: 250px
            .title
                margin: 0 0 28px 0px
            .for-arrows
                margin: 0 0 32px -19px
                .owl-next
                    margin-left: 0

        .management
            .title
                margin-left: 30px
                margin-bottom: 30px
            .management-items-wrapper
                gap: 36px
            .item
                width: 100%