.careers
    .product-hero
        display: flex
        justify-content: flex-end
        overflow: hidden
        .content
            position: relative
            z-index: 2
            width: 50%
            flex-grow: 1
            display: flex
            flex-direction: column
            justify-content: center
            padding: 0 128px 0 208px
        .sub
            margin-bottom: 10px
        .section-title
            margin: 0 0 70px 20px
        .careers-hero-slider
            width: 38.4%
            display: flex
            flex-grow: 1
            position: relative
            .owl-dots
                display: block
                width: 100px
                height: 20px
                position: absolute
                bottom: 20px
                left: 50%
                transform: translateX(-50%)
                display: flex
                justify-content: center
                align-items: center
                .owl-dot
                    width: 12px
                    height: 12px
                    background-color: $white
                    display: inline-block
                    border-radius: 50% 
                    opacity: .5
                    &.active
                        opacity: .9
                    &+.owl-dot
                        margin-left: 6px
        .figure
            position: relative
            padding-top: 82.4%
            width: 100%
    .perks
        padding: 60px 0 135px 0
        position: relative
        .bg-fill
            position: absolute
            width: 291px
        .fill-1
            left: 0
            bottom: 67px
        .fill-2 
            right: 0
            bottom: 0
        .title
            margin: 0 0 60px 20px
        .perks-cards
            display: flex
            gap: 26px
            justify-content: center
        .card
            width: 280px
            padding: 40px 38px 21px 38px
            display: flex
            flex-direction: column
            align-items: center
            border-radius: 20px
            border: 1px solid $grayLight
            background: $white
            z-index: 1
        .card-icon
            width: 72px
            margin-bottom: 30px
        .card-descr
            text-align: center
        
.jobs
    .container
        flex-direction: column
        display: flex
        gap: 20px
        padding: 80px 0 100px 0
    .job-card
        width: 100%
        max-width: 1250px
        padding: 23px 72px 23px 65px
        border: 1px solid $gray300
        border-radius: 16px
        cursor: pointer
        margin: 0 auto
        &.opened 
            .job-body-wrapper
                max-height: 1000px
            .job-header
                &::before
                    transform: rotate(225deg)
            

    .job-header
        position: relative
        &::before
            content: ""
            position: absolute
            background-image: url("../images/red-15.svg")
            width: 15px
            height: 15px
            top: 10px
            left: -30px
            transform: rotate(135deg)
            transition: all 800ms ease
    .job-body-wrapper
        max-height: 0
        transition: all 500ms ease
        overflow: hidden
    .job-body
        padding: 15px 0 37px 0
        .body-content-wrapper:not(:last-child)
            margin-bottom: 30px
        .content-ul
            margin-bottom: 30px
        .content-li
            margin-bottom: 8px
            position: relative
            padding-left: 32px
            &::before
                content: ""
                width: 10px
                height: 10px
                background-color: $red
                position: absolute
                left: 0px
                top: 6px
                border-radius: 50px




@media screen and ( max-width: 1440px )
    .careers
        .container
            max-width: 1150px
        .product-hero
            .content
                padding: 0 96px 0 110px
        
    .perks
        .container
            .perks-cards
                gap: 17px
            .card
                padding: 40px 10px 21px 10px
@media screen and ( max-width: 1300px )
    .careers
        .product-hero
            .section-title
                margin-bottom: 28px
    
@media screen and ( max-width: 1100px )
    .careers
        .container
            padding: 0 20px
        
        .product-hero
            flex-direction: column
            .content, .figure-container
                width: 100%
            .content
                padding: 100px 60px
        
        .perks
            padding: 74px 0 55px 0
            .bg-fill
                width: 136px
            .fill-1
                bottom: initial
                top: 135px
            .fill-2
                bottom: initial
                top: 50%
                transform: translateY(-50%)
            .container
                padding: 0 20px
            .title
                margin-bottom: 35px
            .perks-cards
                flex-wrap: wrap
                gap: 20px
                align-items: center
            .card
                max-width: 265px
                height: 180px
                padding: 20px 17px
            .card-icon
                margin-bottom: 12px
            .card-descr
                font-size: 20px
            
            
        .jobs
            padding: 56px 0
            .job-card
                padding: 20px
            .job-header
                font-size: 20px
                margin-left: 30px
                &::before
                    top: 6px
            .body-content-wrapper, .content-li
                font-size: 16px
            .body-content-wrapper:not(:last-child)
                margin-bottom: 20px
            .content-ul
                .content-li
                    padding-left: 22px
        
@media screen and ( max-width: 992px )
    .careers
        .product-hero
            .content
                padding: 40px 20px