@import "colors.sass"

body
    font-family: 'Manrope', sans-serif

button
    background: none
    padding: 0
    border: none
    cursor: pointer

.container
    width: 95%
    max-width: 1920px
    margin: 0 auto
    @media only screen and (max-width: 1023px)
        width: 100%
        max-width: initial
        padding: 0 20px