.product-credibility-page
    .hero
        width: 100%
        .text
            padding: 80px 0 0 90px
            width: 60%
        .subtitle
            margin: 100px 0 2px 118px
        .main-title
            margin-left: 118px
        .paragraph
            margin-left: 118px
            margin-top: 40px
        .figure-wrapper
            width: 40%
            display: flex 
            flex-grow: 1
        .figure
            position: relative
            padding-top: 82%
            width: 100%
        .img 
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover

    .unique
        padding: 90px 0 110px 0
        .container
            max-width: 1480px
        .items-wrapper
            gap: 127px
            margin-top: 77px
        .item 
            max-width: 370px
            padding-right: 85px
            display: flex 
            flex-direction: column
        .item-border
            border-right: 1px solid $gray800
        .number
            font-size: 127px
            color: $gray900
            margin-left: 8px
        .paragraph
            margin-top: -60px
            margin-bottom: 25px
            max-width: 300px
        .red-line
            width: 100px
            height: 12px
            margin-top: auto
            margin-bottom: 30px
        
    .label
        padding: 120px 0
        .red-corner
                display: none
        .label-container-wrap
            position: relative
        .bg
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: 100%
            max-width: 35vw
        .container
            max-width: 1480px
        .title
            margin-left: 96px
            margin-bottom: 115px
        .figure-wrapper
            width: 50%
            max-width: 736px
        .figure
            position: relative
            padding-top: 100%
        .content
            padding: 24px 0 0 160px
            width: 50%
        .ul-title
            max-width: 470px
            margin-bottom: 30px
        .list
            position: relative
            margin-left: 23px
        .list::before
            content: ""
            background-color: $red
            width: 10px 
            height: 10px
            border-radius: 50%
            display: inline-block
            position: absolute
            top: 50% 
            transform: translateY(-50%)
            left: -23px
        .paragraph
            margin: 60px 0 30px 0
            max-width: 372px
        .button
            background-color: $red
            border-radius: 16px
            max-width: 372px 
            width: 100% 
            padding: 20px 40px 

    .ensuring
        padding: 80px 0 165px 0
        .container
            max-width: 1480px
            position: relative
        .bg-img
            position: absolute
            right: 140px
            top: -80px
            max-width: 290px
            object-fit: cover
        .title
            margin-bottom: 130px
        .items-wrapper
            gap: 235px
        .item
            gap: 50px
            width: 100%
            max-width: 535px
        .figure-wrapper
            width: 100%
            max-width: 125px
        .figure
            position: relative
            padding-top: 100% 
            
    .graphic
        padding: 75px 0 150px 0
        .container
            max-width: 1480px
        .top-items-wrapper
            gap: 195px
            margin-bottom: 32px
        .item
            padding: 40px 60px
            width: 100%
            max-width: 370px
            border-radius: 24px
            text-align: center
            position: relative
        .red-circle
            height: 33px
            width: 33px
            border-radius: 50%
            margin-bottom: 52px
        .item-left::after 
            content: ""
            height: 101px
            width: 2px
            background-color: $black
            display: block
            position: absolute
            right: -40px
            bottom: -66px
            transform: rotate(-60deg)
        .item-right::after
            content: ""
            height: 101px
            width: 2px
            background-color: $black
            display: block
            position: absolute
            left: -40px
            bottom: -66px
            transform: rotate(60deg)
        .iten-bottom::after
            content: ""
            height: 52px
            width: 2px
            background-color: $red
            display: block
            position: absolute
            top: -52px
            left: 50%
        

@media only screen and (max-width: 1440px)
    .product-credibility-page
        .hero
            .text 
                width: 55%
                padding-right: 50px
                padding-bottom: 100px 
            .figure-wrapper
                width: 45%     
            .subtitle
                margin-left: 44px
            .main-title
                margin-left: 44px
            .paragraph
                margin-left: 44px

        .unique
            padding: 80px 0 100px 0  
            .container
                max-width: 1160px
            .items-wrapper
                gap: 90px
            .item
                padding-right: 30px

        .label
            padding-bottom: 250px
            .container
                max-width: 1180px
            .content-wrapper
                align-items: center
            .content
                padding: 0 0 0 130px

        .ensuring
            .container
                max-width: 1180px
            .items-wrapper
                gap: 70px

@media only screen and (max-width: 1280px)
    .product-credibility-page
        .hero
            .text
                padding: 80px 50px 50px 80px
            .subtitle
                margin-left: 25px
            .main-title
                margin-left: 25px
            .paragraph
                margin-left: 25px

@media only screen and (max-width: 1100px)
    .product-credibility-page
        .hero
            flex-direction: column 
            .text
                width: 100%
                padding-bottom: 150px
            .main-title
                margin-left: 0
            .subtitle
                margin-left: 0
            .paragraph
                margin-left: 0
            .figure-wrapper
                width: 100%

        .label 
            padding: 65px 0 70px 0

@media only screen and (max-width: 992px)
    .product-credibility-page
        .hero
            .main-title
                margin-left: 0
            .subtitle
                margin-bottom: 15px
            .paragraph
                margin-left: 0

        .unique
            .unique
            .title
                margin-left: 27px
                font-size: 40px
            .items-wrapper
                flex-direction: column
                gap: 0
                margin-top: 0
            .item
                padding-left: 16px
                padding-right: 0
            .item-border
                border-right: none
                border-bottom: 1px solid $gray800
            .red-line
                margin-bottom: 35px

        .label
            .title
                margin-left: 27px    
                margin-bottom: 33px 
                font-size: 40px
            .figure-wrapper
                display: none 
            .bg
                display: none
            .content-wrapper
                position: relative
            .content
                background-color: $black
                padding: 76px 30px 40px 40px
                border-radius: 0 24px 24px 24px
                width: 100%
            .red-corner
                display: block
                width: 45px
                height: 68px
                position: absolute
                top: 0
                left: 0
                object-fit: cover
            .ul-title
                color: $white
                font-size: 40px
            .paragraph
                color: $white
            .list
                color: $white

        .ensuring
            padding: 40px 0 50px 0
            .bg-img
                max-width: 135px
                top: 40px
                left: 0
            .title
                margin-left: 20px
                margin-bottom: 40px
            .items-wrapper
                flex-direction: column
                gap: 40px
            .item
                gap: 20px
                z-index: 1
                margin-left: 10px

        .graphic
            padding: 60px 0 90px 0
            .top-items-wrapper
                gap: 25px
            .item-left::after   
                right: 45px
            .item-right::after 
                left: 45px

@media only screen and (max-width: 768px)
    .product-credibility-page
        .hero
            .text
                padding: 40px 20px 50px 20px
            .subtitle
                margin-top: 25px 
            .main-title 
                font-size: 32px
            .paragraph
                font-size: 24px
                margin-top: 28px

        .unique
            padding: 75px 0 35px 0
            .title
                font-size: 32px

        .label
            .title
                font-size: 32px
            .ul-title
                font-size: 32px
            .paragraph
                font-size: 16px
            .list
                font-size: 16px
            
        .ensuring
            .title
                font-size: 32px
            .paragraph
                font-size: 20px  
            .figure-wrapper
                max-width: 77px   

        .graphic
            .item
                padding: 25px 20px  
            .paragraph
                font-size: 16px
                font-weight: 500