@import "colors.sass"


.fw300
    font-weight: 300
.fw400
    font-weight: 300
.fw500
    font-weight: 500
.fw600
    font-weight: 600
.fwb
    font-weight: bold

.c-white
    color: $white
.c-black
    color: $black

.bg-white
    background-color: $white
.bg-black
    background-color: $black