.hero
    min-height: 800px
    display: flex
    align-items: center
    justify-content: center
    background-color: $gray600
    .container
        max-width: 1312px
    .title
        text-align: left
    .hero-bg
        width: 100%
        height: 100%
        left: 0
        top: 0
        position: absolute

.accurancy
    padding: 22px 0 60px 0
    .title
        margin: 0 0 90px 96px
    .cards
        display: flex
        justify-content: center
        gap: 30px
        flex-wrap: wrap
    .card
        width: 30%
        flex-grow: 1
        max-width: 480px
        border: 1px solid $gray800
        border-radius: 16px
        padding: 20px 20px 14px 20px
        display: flex
        flex-direction: column
    .card-bottom
        margin-top: auto
    .card-top
        display: flex
        justify-content: space-between
        align-items: flex-start
        gap: 15px
        margin-bottom: 15px
    .card-title
        line-height: 27px
    .card-accurancy
        display: flex
        flex-direction: column
        align-items: flex-end
        .percent
            line-height: 35px

.marketes
    position: relative
    border: 1px solid red
    .marketes-bg
        height: 520px
        position: absolute
        top: 56%
        transform: translateY(-50%)
    .container
        width: 95%
        max-width: 1248px
        margin-top: 195px
        margin-bottom: 130px
    .title
        margin-bottom: 45px
    .cards
        display: flex
        justify-content: center
        gap: 28px
    .card
        padding: 57px 48px 43px 60px
        position: relative
        border-radius: 24px
        border-top-left-radius: 0px
        max-width: 608px
        display: flex
        flex-direction: column
        width: 45%
        flex-grow: 1
        &:last-child
            background-color: $gray100
    .card-top
        width: 68px
        position: absolute
        top: 0
        left: 0
    .card-title
         max-width: 420px
    .card-subtitle
        margin-bottom: 46px
    .card-descr
        &:last-child
            margin-bottom: 230px
    .btn
        width: 100%
        max-width: 400px
        display: block
        margin: auto auto 0 auto
    

@media screen and (max-width: 1440px)
    .hero
        .container
            max-width: 971px
        .title
            div:first-child
                display: inline

    .accurancy
        .container
            max-width: 1170px
        .cards
            gap: 28px

    .marketes
        .container
            max-width: 1028px
            margin-top: 160px
            margin-bottom: 160px
        .title
            margin-bottom: 75px
        .card
            padding: 60px 60px 42px 60px
            max-width: 500px

@media screen and ( max-width: 1180px )
    .accurancy
        padding: 70px 0 60px 0 
        .cards
            max-width: 600px
            margin: 0 auto
        .title
            margin-bottom: 35px
            margin-left: 15px
        .cards
            gap: 15px
        .card
            width: 100%
            max-width: 100%
            padding: 15px 20px
        .card-top
            gap: 0px
            margin-bottom: 6px

    .marketes
        .container
            width: 100%
            padding: 117px 20px
            margin: 0 auto
        .title
            margin-left: 25px
            margin-bottom: 50px
            &::before
                left: -25px
        .card-title
            font-size: 32px
        .card-subtitle
            font-size: 32px
            margin-bottom: 20px
        .btn
            padding: 0 30px
        .card-descr
            font-size: 12px
            &:last-child
                margin-bottom: 70px

@media screen and (max-width: 992px)
    .title
        font-size: 32px
    .hero
        .container
            padding: 0 20px 0 40px
            div
                display: inline
    .marketes
        .marketes-bg
            display: none
        .card-top
            width: 50px
        .card
            padding: 60px 40px 40px 40px
            min-height: 500px
        

@media screen and (max-width: 767px)
    .marketes
        .cards
            flex-direction: column
            align-items: center
        .card
            width: 100%