.hero
    min-height: 800px
    display: flex
    align-items: center
    justify-content: center
    background-color: $gray600
    .container
        max-width: 1312px
    .title
        text-align: left

.accurancy
    padding: 22px 0 60px 0
    .title
        margin: 0 0 90px 96px
    .cards
        display: flex
        justify-content: center
        gap: 30px
        flex-wrap: wrap
    .card
        width: 30%
        flex-grow: 1
        max-width: 480px
        border: 1px solid $gray800
        border-radius: 16px
        padding: 20px 20px 14px 20px
        display: flex
        flex-direction: column
    .card-bottom
        margin-top: auto
    .card-top
        display: flex
        justify-content: space-between
        align-items: flex-start
        gap: 15px
        margin-bottom: 15px
    .card-title
        line-height: 27px
    .card-accurancy
        display: flex
        flex-direction: column
        align-items: flex-end
        .percent
            line-height: 35px

.marketes
    position: relative
    .marketes-bg
        position: absolute
        height: 520px
        left: 0
        top: 50%
        transform: translateY(-50%)
    .container
        width: 95%
        max-width: 1248px
        padding: 178px 0 130px 0
    .title
        margin-bottom: 45px
    .cards
        display: flex
        justify-content: center
        gap: 28px
    .card
        padding: 57px 48px 43px 60px
        position: relative
        border-radius: 24px
        border-top-left-radius: 0px
        max-width: 608px
        display: flex
        flex-direction: column
    .card-content-wrapper
        max-width: 500px
    .card-top
        width: 68px
        position: absolute
        top: 0
        left: 0
    .card-title
         max-width: 460px
    .card-subtitle
        margin-bottom: 46px
    .card-descr
    .btn
        width: 400px
        margin: 0 auto
        margin-top: auto 
        display: block
    

@media screen and (max-width: 1440px)
    .hero
        .container
            max-width: 971px
        .title
            div:first-child
                display: inline
    .accurancy
        .container
            max-width: 1170px
        .cards
            gap: 28px

@media screen and ( max-width: 1180px )
    .accurancy
        padding: 70px 0 60px 0 
        .cards
            max-width: 600px
            margin: 0 auto
        .title
            font-size: 32px
            margin-bottom: 35px
            margin-left: 27px
        .cards
            gap: 15px
        .card
            width: 100%
            max-width: 100%
            padding: 15px 20px
        .card-top
            gap: 0px
            margin-bottom: 6px

@media screen and (max-width: 992px)
    .hero
        .container
            padding: 0 20px 0 40px
        .title
            font-size: 32px
            div
                display: inline